<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashbord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/index.css" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css">
    <link href="/website/css/uicons-solid-rounded.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Noto Sans Lao">
    <!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->
    <script rel="preload" src="../static/dist/apexcharts.js"></script>

    <style>
        * {
            box-sizing: border-box;
        }

        :root {
            font-size: small;
            --main-color: rgb(31, 139, 82);
            --text-color: white;
        }

        html,
        body {
            font-family: "Roboto", "Noto Sans Lao";
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }

        input {
            padding: 6px 6px;
        }

        .main-layout {
            height: 100%;
            width: 100%;
            display: table;
            clear: both;
        }

        .card {
            border: none;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 4px 8px 0 rgba(20, 160, 41, 0.233);
        }

        /* TODO: Header styles */
        .header {
            box-shadow: 0 4px 8px 0 rgba(31, 175, 55, 0.233);
            height: 45px;
        }

        .row-h {
            width: 100%;
            display: flex;
            clear: both;
        }

        h4 {
            padding: 2px;
            margin: 0px;
        }

        .row-h>div {
            margin-left: 10px;
            width: fix-content;
            align-content: center;
        }

        .sub-ly {
            width: 100%;
            float: left;
            padding: 2px;
        }

        input {
            border-width: 1px;
            height: 30px;
            border-radius: 6px;
        }

        .button {
            width: 70px;
            height: 33px;
            border-radius: 4px;
            background-color: var(--main-color);
            border: none;
            color: var(--text-color);
            font-size: 14px;
            cursor: pointer;
        }

        .button:hover {
            background-color: rgb(60, 160, 107);
        }

        .button:active {
            background-color: rgb(16, 179, 94);
        }

        .btn-detail {
            width: 50px;
            height: 33px;
            border-radius: 4px;
            background-color: var(--main-color);
            border: none;
            color: var(--text-color);
            font-size: 14px;
            cursor: pointer;
        }

        /* TODO: Contect styles */
        .row-grap {
            display: flex;
            flex-wrap: inherit;
            /* text-align: center; */
        }

        .col-grap {
            /* float: left; */
            width: 50%;
            padding: 10px;
            margin: 10px;
        }

        /* @media (max-width: 300px) {
            .col-grap {
                flex-direction: column;
                flex: 100%
            }
        } */

        table {
            border-collapse: collapse;
            width: 100%;
        }

        thead>tr {
            background-color: var(--main-color);
            color: var(--text-color);
            height: 3rem;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #DDD;
        }

        tbody>tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tbody>tr:hover {
            background-color: #D6EEEE;
        }

        /*TODO: Dialog styles */
        .btn {
            background-color: rgba(251, 251, 251);
            border: none;
            border-radius: 0.2rem;
            color: red;
            padding: 8px 12px;
            font-size: 16px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: rgba(236, 107, 107, 0.3);
        }

        .btn:active {
            background-color: rgba(209, 35, 35, 0.4);
        }

        .btn-dow {
            background-color: rgba(251, 251, 251);
            border: none;
            border-radius: 0.2rem;
            color: var(--main-color);
            padding: 8px 12px;
            font-size: 16px;
            cursor: pointer;
        }

        .pagination {
            list-style-type: none;
            margin: 4px;
            padding: 2px;
        }

        li {
            display: inline;
        }

        /* Darker background on mouse-over */
        .btn-dow:hover {
            background-color: rgba(31, 139, 82, 0.3);
        }

        .btn-dow:active {
            background-color: rgba(16, 179, 94, 0.4);
        }

        #fileDialog {
            background-color: rgba(251, 251, 251);
            width: 500px;
            height: 560px;
            margin: auto;
            padding: 0.4rem;
            box-shadow: 0 4px 8px 0 rgba(15, 146, 35, 0.3);
            border: none;
            transition: 0.3s;
            border-radius: 5px;
            /* z-index: 500; */
        }

        .file {
            text-align: left;
            justify-content: center;
            flex: 80%;
            padding: 0.6rem;
        }
    </style>
</head>

<body>
    <div class="main-layout">
        <div class="sub-ly" style="height: 60px; align-content: center;  background-color: rgb(243, 243, 243);">
            <div class="header">
                <div class="row-h">
                    <div>
                        <label>Selelect date:</label>
                        <input type="date">
                    </div>
                    <div><button class="button" type="submit">Refresh</button></div>
                    <div>
                        <label>File name:</label>
                        <input type="text" style="height: 30px; border-radius: 6px;">
                    </div>
                    <div style="width: fix-content;">
                        <label>Timer (minutes):</label>
                        <input type="text" maxlength="4" onkeypress="return /[0-9]/i.test(event.key)" min="1" max="120" style="height: 30px; width: 60px; border-radius: 6px;">
                    </div>
                    <div> <button class="button" type="submit">Record</button></div>
                    <div><button class="button" type="button" onclick="showFileHistory()">Files</button></div>
                    <div>
                        <a href="{{url_for('data')}}">
                            <button class="button" type="button" style="width: fit-content;" onclick=""><i class="fa-solid fa-gauge"></i> Monitor</button>
                        </a>
                    </div>
                    <dialog id="fileDialog">
                        <div style="display: flex; height: max-content;">
                            <div style="width: 100%; ">
                                <h4 style="margin: 8px;">File histories</h4>
                            </div>
                            <div>
                                <button class="btn" id="btnClose" value="cancel" formmethod="dialog"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                        <hr style="color: rgba(0, 133, 0, 0.4);" />
                        <div>
                            <div style="justify-content: center;">
                                <ul id="fileList" style="padding: 0px 0px 0px 10px;">
                                    <!-- Render elements here when open dialog -->
                                </ul>
                            </div>
                        </div>
                    </dialog>
                </div>
            </div>

        </div>
        <div class="sub-ly" style="background-color: rgb(253, 253, 253);">
            <div class="row-grap">
                <div class="col-grap card" id="leftSensor">
                    <h4>Diameter Sensor 1</h4>
                </div>
                <div class="col-grap card" id="rigthSensor">
                    <h4>Diameter Sensor 2</h4>
                </div>
            </div>
            <div class="row-grap">
                <div class="col-grap card" id="heightSensor">
                    <h4>Height Sensor</h4>
                </div>
                <div class="col-grap card" id="weightBal">
                    <h4>Soil Weight</h4>
                </div>
            </div>
            <div class="row-grap">
                <div class="col-grap card" id="emisCO21">
                    <h4>Emission (CO2-1)</h4>
                </div>
                <div class="col-grap card" id="emisCO22">
                    <h4>Emission (CO2-2)</h4>
                </div>
            </div>
            <div class="row-grap">
                <div class="col-grap card" id="airHum1">
                    <h4>Air Humidity (CO2-1)</h4>
                </div>
                <div class="col-grap card" id="airHum2">
                    <h4>Air Humidity (CO2-2)</h4>
                </div>
            </div>
            <div class="row-grap">
                <div class="col-grap card" id="tmep1">
                    <h4>Temperature (CO2-1)</h4>
                </div>
                <div class="col-grap card" id="tmep2">
                    <h4>Temperature (CO2-2)</h4>
                </div>
            </div>
            <div class="row-grap">
                <div class="col-grap card" id="temp3">
                    <h4>Temperature (DS18B20)</h4>
                </div>
            </div>
        </div>
        <hr />
        <div class="card" style="margin: 4px;">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Diameter Sensor 1</th>
                        <th>Diameter Sensor 2</th>
                        <th>High Sensor</th>
                        <th>Soil Weight</th>
                        <th>Emission (CO2-1)</th>
                        <th>Emission (CO2-2)</th>
                        <th>Air Humidity (CO2-1)</th>
                        <th>Air Humidity (CO2-2)</th>
                        <th>Temperature (CO2-1)</th>
                        <th>Temperature (CO2-2)</th>
                        <th>Temperature (DS18B20)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for item in data%}
                    <tr class="tb-body">
                        <td>{{item.date}}</td>
                        <td>{{item.diam1}}</td>
                        <td>{{item.diam2}}</td>
                        <td>{{item.high}}</td>
                        <td>{{item.wieght}}</td>
                        <td>{{item.emiss1}}</td>
                        <td>{{item.emiss2}}</td>
                        <td>{{item.airh1}}</td>
                        <td>{{item.airh2}}</td>
                        <td>{{item.temp1}}</td>
                        <td>{{item.temp2}}</td>
                        <td>{{item.temp3}}</td>
                        <td>
                            <button class="button btn-detail" onclick="shoRowDetails(this)">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <bar />
            <nav>
                <ul class="pagination">
                    {%for i in range(0, 10) %}
                    <li><a>{{i}}</a></li>
                    {%endfor%}
                </ul>
            </nav>
        </div>
        <div>

        </div>
    </div>
</body>

<dialog class="details card" id="details" style=" margin: auto;">
    <div>
        <div style="display: flex; height: max-content;">
            <div style="width: 100%; ">
                <h4 style="margin: 8px;">Show Data Details</h4>
            </div>
            <div>
                <button class="btn" id="btnCloseDetails" value="cancel" formmethod="dialog"><i class="fa fa-close"></i></button>
            </div>
        </div>
        <hr style="color: rgba(0, 133, 0, 0.4);" />
        <div id="dlContext" style="display: grid; grid-template-columns: auto auto auto; gap: 10px; padding: 10px;"></div>
    </div>
</dialog>

</html>

<script>
    const lables = [
        { icon: "calendar.svg", name: "Date Time", unit: "" },
        { icon: "sensor_letf.svg", name: "Diameter Sensor 1", unit: "Volt" },
        { icon: "sensor_rigth.svg", name: "Diameter Sensor 2", unit: "Volt" },
        { icon: "sensor_hiegth.svg", name: "High Sensor", unit: "Volt" },
        { icon: "scale.svg", name: "Soil Weight", unit: "g" },
        { icon: "co2_1.svg", name: "Emission (CO2-1)", unit: "ppm" },
        { icon: "co2_2.svg", name: "Emission (CO2-2)", unit: "ppm" },
        { icon: "air_humidity_1.svg", name: "Air Humidity (CO2-1)", unit: "%" },
        { icon: "air_humidity_2.svg", name: "Air Humidity (CO2-2)", unit: "%" },
        { icon: "temperature_1.svg", name: "Temperature (CO2-1)", unit: "°C" },
        { icon: "temperature_2.svg", name: "Temperature (CO2-2)", unit: "°C" },
        { icon: "temperature_3.svg", name: "Temperature (DS18)", unit: "°C" }
    ];
    var fileList = ["File name show here", "File name show here", "File name show here", "File name show here", "File name show here", "File name show here"];
    function showGrap() {

        var options = {
            // colors: ["#02754b"],
            series: [{
                name: 'series1',
                data: [
                    671, 200, 944, 551, 279,
                    986, 379, 31, 962, 132,
                    921, 260, 567, 915, 795,
                    970, 421, 79, 903, 103,
                    701, 341, 232, 983, 146,
                    574, 617, 313, 124, 189,
                    870, 533, 798, 909, 314,
                    846, 800, 36, 437, 434,
                    308, 179, 382, 996, 327,
                    310, 821, 30, 324, 131,
                    740, 346, 993, 237, 171,
                    741, 900, 655, 777, 123,
                    545, 173, 881, 25, 187,
                    838, 400, 707, 238, 815,
                    306, 827, 372, 56, 484,
                    313, 86, 413, 148, 590,
                    690, 981, 584, 382, 493,
                    773, 620, 886, 8, 455,
                    860, 444, 762, 123, 738,
                    665, 125, 816, 503, 58,
                    975, 81, 645, 934, 359,
                    960, 467, 753, 904, 44,
                    659, 638, 219, 377, 705,
                    611, 50, 630, 721, 332,
                    265, 720, 489, 860, 329,
                    943, 328, 263, 555, 662,
                    555, 90, 412, 853, 799,
                    860, 524, 675, 899, 226,
                    433, 831, 347, 412, 69,
                    632, 598, 326, 669, 935,
                    190, 410, 917, 199, 751,
                    652, 739, 211, 768, 540,
                    651, 591, 796, 200, 565,
                    98, 242, 587, 279, 578,
                    625, 260, 76, 864, 974,
                    596, 156, 899, 686, 30,
                    342, 708, 865, 884, 106,
                    587, 212, 427, 236, 111,
                    440, 160, 799, 152, 906,
                    477, 795, 697, 962, 603,
                    580, 686, 942, 602, 689,
                    922, 578, 407, 160, 665,
                    380, 703, 713, 710, 636,
                    396, 398, 966, 938, 180,
                    626, 983, 41, 617, 693,
                    591, 552, 538, 835, 963,
                    589, 887, 784, 834, 207
                ]
            }],
            chart: {
                id: '',
                height: 250,
                type: 'area'
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth',
                width: 1
            },
            // fill: {
            //     // colors: ['#04bf7b', "#02754b"],
            //     type: "gradient",
            //     gradient: {
            //         shadeIntensity: 1,
            //         opacityFrom: 0.7,
            //         opacityTo: 0.9,
            //     }
            // },
            xaxis: {
                type: 'datetime',
                categories: [
                    "2018-09-20T00:14:00.00Z",
                    "2018-09-20T00:22:00.00Z",
                    "2018-09-20T00:35:00.00Z",
                    "2018-09-20T00:56:00.00Z",
                    "2018-09-20T01:04:00.00Z",
                    "2018-09-20T02:01:00.00Z",
                    "2018-09-20T02:16:00.00Z",
                    "2018-09-20T02:23:00.00Z",
                    "2018-09-20T02:31:00.00Z",
                    "2018-09-20T02:34:00.00Z",
                    "2018-09-20T02:38:00.00Z",
                    "2018-09-20T03:03:00.00Z",
                    "2018-09-20T03:20:00.00Z",
                    "2018-09-20T03:46:00.00Z",
                    "2018-09-20T04:07:00.00Z",
                    "2018-09-20T04:37:00.00Z",
                    "2018-09-20T05:00:00.00Z",
                    "2018-09-20T05:28:00.00Z",
                    "2018-09-20T05:45:00.00Z",
                    "2018-09-20T06:08:00.00Z",
                    "2018-09-20T06:20:00.00Z",
                    "2018-09-20T06:26:00.00Z",
                    "2018-09-20T06:27:00.00Z",
                    "2018-09-20T06:58:00.00Z",
                    "2018-09-20T07:21:00.00Z",
                    "2018-09-20T07:25:00.00Z",
                    "2018-09-20T07:45:00.00Z",
                    "2018-09-20T08:05:00.00Z",
                    "2018-09-20T08:08:00.00Z",
                    "2018-09-20T09:36:00.00Z",
                    "2018-09-20T09:52:00.00Z",
                    "2018-09-20T11:11:00.00Z",
                    "2018-09-20T11:12:00.00Z",
                    "2018-09-20T11:35:00.00Z",
                    "2018-09-20T12:19:00.00Z",
                    "2018-09-20T12:37:00.00Z",
                    "2018-09-20T12:40:00.00Z",
                    "2018-09-20T12:44:00.00Z",
                    "2018-09-20T13:59:00.00Z",
                    "2018-09-20T15:47:00.00Z",
                    "2018-09-20T16:11:00.00Z",
                    "2018-09-20T16:25:00.00Z",
                    "2018-09-20T16:54:00.00Z",
                    "2018-09-20T18:19:00.00Z",
                    "2018-09-20T18:44:00.00Z",
                    "2018-09-20T19:06:00.00Z",
                    "2018-09-20T19:40:00.00Z",
                    "2018-09-20T19:42:00.00Z",
                    "2018-09-20T19:46:00.00Z",
                    "2018-09-20T20:19:00.00Z",
                    "2018-09-20T20:29:00.00Z",
                    "2018-09-20T20:39:00.00Z",
                    "2018-09-20T20:52:00.00Z",
                    "2018-09-20T20:53:00.00Z",
                    "2018-09-20T21:54:00.00Z",
                    "2018-09-20T21:58:00.00Z",
                    "2018-09-20T22:07:00.00Z",
                    "2018-09-20T22:44:00.00Z",
                    "2018-09-20T23:11:00.00Z",
                    "2018-09-20T23:33:00.00Z",
                    "2018-09-21T00:14:00.00Z",
                    "2018-09-21T00:22:00.00Z",
                    "2018-09-21T00:35:00.00Z",
                    "2018-09-21T00:56:00.00Z",
                    "2018-09-21T01:04:00.00Z",
                    "2018-09-21T02:01:00.00Z",
                    "2018-09-21T02:16:00.00Z",
                    "2018-09-21T02:23:00.00Z",
                    "2018-09-21T02:31:00.00Z",
                    "2018-09-21T02:34:00.00Z",
                    "2018-09-21T02:38:00.00Z",
                    "2018-09-21T03:03:00.00Z",
                    "2018-09-21T03:20:00.00Z",
                    "2018-09-21T03:46:00.00Z",
                    "2018-09-21T04:07:00.00Z",
                    "2018-09-21T04:37:00.00Z",
                    "2018-09-21T05:00:00.00Z",
                    "2018-09-21T05:28:00.00Z",
                    "2018-09-21T05:45:00.00Z",
                    "2018-09-21T06:08:00.00Z",
                    "2018-09-21T06:20:00.00Z",
                    "2018-09-21T06:26:00.00Z",
                    "2018-09-21T06:27:00.00Z",
                    "2018-09-21T06:58:00.00Z",
                    "2018-09-21T07:21:00.00Z",
                    "2018-09-21T07:25:00.00Z",
                    "2018-09-21T07:45:00.00Z",
                    "2018-09-21T08:05:00.00Z",
                    "2018-09-21T08:08:00.00Z",
                    "2018-09-21T09:36:00.00Z",
                    "2018-09-21T09:52:00.00Z",
                    "2018-09-21T11:11:00.00Z",
                    "2018-09-21T11:12:00.00Z",
                    "2018-09-21T11:35:00.00Z",
                    "2018-09-21T12:19:00.00Z",
                    "2018-09-21T12:37:00.00Z",
                    "2018-09-21T12:40:00.00Z",
                    "2018-09-21T12:44:00.00Z",
                    "2018-09-21T13:59:00.00Z",
                    "2018-09-21T15:47:00.00Z",
                    "2018-09-21T16:11:00.00Z",
                    "2018-09-21T16:25:00.00Z",
                    "2018-09-21T16:54:00.00Z",
                    "2018-09-21T18:19:00.00Z",
                    "2018-09-21T18:44:00.00Z",
                    "2018-09-21T19:06:00.00Z",
                    "2018-09-21T19:40:00.00Z",
                    "2018-09-21T19:42:00.00Z",
                    "2018-09-21T19:46:00.00Z",
                    "2018-09-21T20:19:00.00Z",
                    "2018-09-21T20:29:00.00Z",
                    "2018-09-21T20:39:00.00Z",
                    "2018-09-21T20:52:00.00Z",
                    "2018-09-21T20:53:00.00Z",
                    "2018-09-21T21:54:00.00Z",
                    "2018-09-21T21:58:00.00Z",
                    "2018-09-21T22:07:00.00Z",
                    "2018-09-21T22:44:00.00Z",
                    "2018-09-21T23:11:00.00Z",
                    "2018-09-21T23:33:00.00Z",
                    "2018-09-23T00:14:00.00Z",
                    "2018-09-23T00:22:00.00Z",
                    "2018-09-23T00:35:00.00Z",
                    "2018-09-23T00:56:00.00Z",
                    "2018-09-23T01:04:00.00Z",
                    "2018-09-23T02:01:00.00Z",
                    "2018-09-23T02:16:00.00Z",
                    "2018-09-23T02:23:00.00Z",
                    "2018-09-23T02:31:00.00Z",
                    "2018-09-23T02:34:00.00Z",
                    "2018-09-23T02:38:00.00Z",
                    "2018-09-23T03:03:00.00Z",
                    "2018-09-23T03:20:00.00Z",
                    "2018-09-23T03:46:00.00Z",
                    "2018-09-23T04:07:00.00Z",
                    "2018-09-23T04:37:00.00Z",
                    "2018-09-23T05:00:00.00Z",
                    "2018-09-23T05:28:00.00Z",
                    "2018-09-23T05:45:00.00Z",
                    "2018-09-23T06:08:00.00Z",
                    "2018-09-23T06:20:00.00Z",
                    "2018-09-23T06:26:00.00Z",
                    "2018-09-23T06:27:00.00Z",
                    "2018-09-23T06:58:00.00Z",
                    "2018-09-23T07:21:00.00Z",
                    "2018-09-23T07:25:00.00Z",
                    "2018-09-23T07:45:00.00Z",
                    "2018-09-23T08:05:00.00Z",
                    "2018-09-23T08:08:00.00Z",
                    "2018-09-23T09:36:00.00Z",
                    "2018-09-23T09:52:00.00Z",
                    "2018-09-23T11:11:00.00Z",
                    "2018-09-23T11:12:00.00Z",
                    "2018-09-23T11:35:00.00Z",
                    "2018-09-23T12:19:00.00Z",
                    "2018-09-23T12:37:00.00Z",
                    "2018-09-23T12:40:00.00Z",
                    "2018-09-23T12:44:00.00Z",
                    "2018-09-23T13:59:00.00Z",
                    "2018-09-23T15:47:00.00Z",
                    "2018-09-23T16:11:00.00Z",
                    "2018-09-23T16:25:00.00Z",
                    "2018-09-23T16:54:00.00Z",
                    "2018-09-23T18:19:00.00Z",
                    "2018-09-23T18:44:00.00Z",
                    "2018-09-23T19:06:00.00Z",
                    "2018-09-23T19:40:00.00Z",
                    "2018-09-23T19:42:00.00Z",
                    "2018-09-23T19:46:00.00Z",
                    "2018-09-23T20:19:00.00Z",
                    "2018-09-23T20:29:00.00Z",
                    "2018-09-23T20:39:00.00Z",
                    "2018-09-23T20:52:00.00Z",
                    "2018-09-23T20:53:00.00Z",
                    "2018-09-23T21:54:00.00Z",
                    "2018-09-23T21:58:00.00Z",
                    "2018-09-23T22:07:00.00Z",
                    "2018-09-23T22:44:00.00Z",
                    "2018-09-23T23:11:00.00Z",
                    "2018-09-23T23:33:00.00Z",
                    "2018-09-24T00:14:00.00Z",
                    "2018-09-24T00:22:00.00Z",
                    "2018-09-24T00:35:00.00Z",
                    "2018-09-24T00:56:00.00Z",
                    "2018-09-24T01:04:00.00Z",
                    "2018-09-24T02:01:00.00Z",
                    "2018-09-24T02:16:00.00Z",
                    "2018-09-24T02:23:00.00Z",
                    "2018-09-24T02:31:00.00Z",
                    "2018-09-24T02:34:00.00Z",
                    "2018-09-24T02:38:00.00Z",
                    "2018-09-24T03:03:00.00Z",
                    "2018-09-24T03:20:00.00Z",
                    "2018-09-24T03:46:00.00Z",
                    "2018-09-24T04:07:00.00Z",
                    "2018-09-24T04:37:00.00Z",
                    "2018-09-24T05:00:00.00Z",
                    "2018-09-24T05:28:00.00Z",
                    "2018-09-24T05:45:00.00Z",
                    "2018-09-24T06:08:00.00Z",
                    "2018-09-24T06:20:00.00Z",
                    "2018-09-24T06:26:00.00Z",
                    "2018-09-24T06:27:00.00Z",
                    "2018-09-24T06:58:00.00Z",
                    "2018-09-24T07:21:00.00Z",
                    "2018-09-24T07:25:00.00Z",
                    "2018-09-24T07:45:00.00Z",
                    "2018-09-24T08:05:00.00Z",
                    "2018-09-24T08:08:00.00Z",
                    "2018-09-24T09:36:00.00Z",
                    "2018-09-24T09:52:00.00Z",
                    "2018-09-24T11:11:00.00Z",
                    "2018-09-24T11:12:00.00Z",
                    "2018-09-24T11:35:00.00Z",
                    "2018-09-24T12:19:00.00Z",
                    "2018-09-24T12:37:00.00Z",
                    "2018-09-24T12:40:00.00Z",
                    "2018-09-24T12:44:00.00Z",
                    "2018-09-24T13:59:00.00Z",
                    "2018-09-24T15:47:00.00Z",
                    "2018-09-24T16:11:00.00Z",
                    "2018-09-24T16:25:00.00Z",
                    "2018-09-24T16:54:00.00Z",
                    "2018-09-24T18:19:00.00Z",
                    "2018-09-24T18:44:00.00Z",
                    "2018-09-24T19:06:00.00Z",
                    "2018-09-24T19:40:00.00Z",
                    "2018-09-24T19:42:00.00Z",
                    "2018-09-24T19:46:00.00Z",
                    "2018-09-24T20:19:00.00Z",
                    "2018-09-24T20:29:00.00Z",
                    "2018-09-24T20:39:00.00Z",
                    "2018-09-24T20:52:00.00Z",
                    "2018-09-24T20:53:00.00Z",
                    "2018-09-24T21:54:00.00Z",
                    "2018-09-24T21:58:00.00Z",
                    "2018-09-24T22:07:00.00Z",
                    "2018-09-24T22:44:00.00Z",
                    "2018-09-24T23:11:00.00Z",
                    "2018-09-24T23:33:00.00Z"
                ]
            },
            tooltip: {
                x: {
                    format: 'dd/MM/yy HH:mm'
                },
            },
        };

        var leftSensorOp = { ...options };
        leftSensorOp.chart.id = "leftSensor";
        var chartL = new ApexCharts(document.getElementById("leftSensor"), leftSensorOp);
        chartL.render();

        var rigthSensorOp = { ...options };
        rigthSensorOp.chart.id = "rigthSensor";
        var chartL = new ApexCharts(document.getElementById("rigthSensor"), rigthSensorOp);
        chartL.render();

        var heightSensorOp = { ...options };
        heightSensorOp.chart.id = "heightSensor";
        var chartH = new ApexCharts(document.getElementById("heightSensor"), heightSensorOp);
        chartH.render();

        var weightBalOp = { ...options };
        weightBalOp.chart.id = "weightBal";
        var chartH = new ApexCharts(document.getElementById("weightBal"), weightBalOp);
        chartH.render();

        var emisCO21Op = { ...options };
        emisCO21Op.chart.id = "emisCO21";
        var chartH = new ApexCharts(document.getElementById("emisCO21"), emisCO21Op);
        chartH.render();

        var emisCO22Op = { ...options };
        emisCO22Op.chart.id = "emisCO22";
        var chartH = new ApexCharts(document.getElementById("emisCO22"), emisCO22Op);
        chartH.render();

        var airHum1Op = { ...options };
        airHum1Op.chart.id = "airHum1";
        var chartH = new ApexCharts(document.getElementById("airHum1"), airHum1Op);
        chartH.render();

        var airHum2Op = { ...options };
        airHum2Op.chart.id = "airHum2";
        var chartH = new ApexCharts(document.getElementById("airHum2"), airHum2Op);
        chartH.render();

        var tmep1Op = { ...options };
        tmep1Op.chart.id = "tmep1";
        var chartH = new ApexCharts(document.getElementById("tmep1"), tmep1Op);
        chartH.render();

        var tmep2Op = { ...options };
        tmep2Op.chart.id = "tmep2";
        var chartH = new ApexCharts(document.getElementById("tmep2"), tmep2Op);
        chartH.render();

        var temp3Op = { ...options };
        temp3Op.chart.id = "temp3";
        var chartH = new ApexCharts(document.getElementById("temp3"), temp3Op);
        chartH.render();
    }

    showGrap();

    //Details Dialog Script
    function shoRowDetails(click) {
        //   const dataTable = document.getElementById("data-table");
        // dataTable.addEventListener('click', (e) => {
        // if (e.target.parentNode.children[11] === 'button') {
        // var row = e.target.parentNode;
        var row = click.parentNode.parentNode;
        var rowData = Array.from(row.children).slice(0, -1).map(td => td.textContent);
        var dialogContext = document.getElementById('dlContext');
        dialogContext.innerHTML = null;
        for (const key in rowData) {
            let listCtx = document.createElement('div');
            // listCtx.className = 'card';
            listCtx.style.cssText = "border-radius: 4px; margin: 4px; padding: 2px; width: 180px; height: 80px; background-color:#E3E8E6; ";

            let title = document.createElement('div');
            title.style.cssText = "display: flex; justify-items: center; align-items: center;";

            let text = document.createElement('h4');
            text.innerHTML = lables[key].name;

            let icon = document.createElement("img");
            // icon.className = `fa-solid ${lables[key].icon} fa-2xl`;
            icon.src = `/static/assets/${lables[key].icon}`;
            icon.style.cssText = "margin: 6px; color: rgba(31, 139, 82); width: 30px; height: 30px;";
            title.append(icon, text);

            let val = document.createElement('h3');
            val.style.cssText = "margin-top: 4px; text-align: center; ";
            val.innerHTML = `${rowData[key]} ${lables[key].unit}`;
            listCtx.append(title, val);


            dialogContext.appendChild(listCtx);
        }
        document.getElementById('details').showModal();
        //     }
        // });

    }

    document.getElementById('btnCloseDetails').addEventListener("click", () => {
        document.getElementById('details').close();
    });

    // Files History Dialog Script
    const fileDialog = document.getElementById("fileDialog");
    const closeBtn = document.getElementById("btnClose");

    // "Show the dialog" button opens the <dialog> modally
    function showFileHistory() {
        var ulList = document.getElementById('fileList');
        ulList.innerHTML = null;

        fileList.map(val => {
            var mdiv = document.createElement('div');
            mdiv.style.cssText = "display: flex; justify-items: center; align-items: center";

            let divFileName = document.createElement('div');
            divFileName.innerHTML = val;
            divFileName.className = "file";
            divFileName.style.cssText = "width: 70%;";

            let iconDow = document.createElement('i');
            iconDow.className = 'fa fa-download';
            let btnDowload = document.createElement('button');
            btnDowload.className = "btn-dow";
            btnDowload.appendChild(iconDow);

            let iconDel = document.createElement('i');
            iconDel.className = 'fa fa-trash';
            let btnDelete = document.createElement('button');
            btnDelete.className = "btn";
            btnDelete.appendChild(iconDel);

            let divBtn = document.createElement('div');
            divBtn.style.cssText = "width: 20%; text-align: center;";
            divBtn.append(btnDowload, btnDelete);
            mdiv.append(divFileName, divBtn);

            var li = document.createElement('li');
            li.style.cssText = "list-style: none;";
            li.appendChild(mdiv);
            ulList.appendChild(li);
        });

        fileDialog.showModal();
    }

    // Close dialog
    closeBtn.addEventListener('click', () => {
        fileDialog.close();
    });

    // "Cancel" button closes the dialog without submitting because of [formmethod="dialog"], triggering a close event.
    fileDialog.addEventListener("close", (e) => {
        // outputBox.value =
        //     fileDialog.returnValue === "default"
        //         ? "No return value."
        //         : `ReturnValue: ${fileDialog.returnValue}.`; // Have to check for "default" rather than empty string
    });
</script>